
/*Modal maps style */

.head_menu_modal .nav .open>a,.head_menu_modal  .nav .open>a:hover,.head_menu_modal  .nav .open>a:focus,
.head_menu .nav .open>a,.head_menu  .nav .open>a:hover,.head_menu  .nav .open>a:focus {
    background-color: transparent;
    border-color: transparent;
}
.head_menu_modal .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
      /*specialView**********************************/

.map_box{
    position: relative;
    background-image: url("../img/border_white.png");
    background-size: 47px 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -10px;
}
.mapBox{
    padding-left: 70px;
    position: relative;
    z-index: 1;
}
.map_text{
    position: absolute;
    display: inline-block;
    top: 310px;
    left: -650px;
    font-family: "OpenSansRegular";
    font-size: 15px;
    color: #000;
    width: 380px;
    height: 285px;
    line-height: 1.2;
    text-transform: none;
}
.mapper path:hover{
    cursor: pointer;
}
.map_map span{
    position: absolute;
    background-color: #5c5b4c;
    color: #fff;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    font-family: "OpenSansRegular";
}
.mapLabels2,
.jqvmap-label {
    position: absolute;
    /*display: none;*/
    background: #D6D5C6;
    width: 450px;
    height: 250px;
    line-height: 1;
    font-size: 16px !important;
    color: #000;
    border-radius: 20px !important;
    margin: -70px 0 0 100px;
    /*right: 65px;*/
    padding: 62px 20px 20px 20px;
    font-family: "OpenSansRegular";
}

.mini_map{
    position: relative;
    padding: 15px 0 0 5px;
    margin: 0 0 25px 0;
}
.mini_map.mini_map2{
    position: relative;
    left: 500px
}
.map_bg{
    width: 563px;
    height: 397px;
    position: absolute;
    top: 11px;
    left: -37px;
    display: block;
    background: url("/img/map.png") center no-repeat;
}
.map_bg2{
    display: none;
}
.mapBoxTitle{
    position: relative;
    /*right: 55px;*/
    font-size: 20px;
    /*font-family: "PTSans-Narrow";*/
    color: #525252;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 20px 0;
    /*margin: 30px 0 0 0;*/
}
#vmap{
    transform: scale(0.86);
}

/**/
.map_btn:hover{
    text-decoration: none;
}
.map_btn span{
    width: 34px;
    height: 42px;
    background: url("/img/map_btn.png") no-repeat;
    position: absolute;
    left: -34px;
    top: 0;
}
.map_btn{
    font-size: 18px;
    /*font-family: "PTSans-Narrow";*/
    color: #5d5d5d !important;
    padding: 10px 25px;
    width: 151px;
    height: 45px;
    position: absolute;
    text-transform: uppercase;
    top: -42px;
    text-align: right;
    right: 0;background-color: #DFDFDF;
    z-index: 1;
}

.mini_modal i{
    background: #000428;
    background: -moz-linear-gradient(-45deg, #000428, #0074da);
    background: -webkit-linear-gradient(-45deg, #000428, #0074da);
    background: linear-gradient(135deg, #000428, #0074da);
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}
.mini_modal_text p{
    color: white;
}
.mini_modal div{
    position: relative;
    z-index: 1;
}
.mini_modal a{
    color: #fff;
}
.mini_modal img{
    position: absolute;
    left: 17px;
    top: 74px;
}
.img_modal_dep {
    width: 160px;
    height: 200px;
}
.mini_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 525px;
    /*height: 320px;*/
    height: auto;
    font-size: 12px;
    border-radius: 10px;
    padding: 20px  20px 0px 20px;
    overflow: hidden;
    color: #fff;
}
.mini_modal_title{
    font-size: 18px;
    color: #fff;
    text-align: center;
    /*font-family: "PTSans-Narrow";*/
    text-transform: uppercase;
    margin-bottom: 4px;
    padding-right: 24px;
}
.mini_modal_text{
    padding: 4px 0 40px 180px;
    text-transform: uppercase;
    /*font-family: "PTSans-Narrow";*/
}
.x_out:hover{
    cursor: pointer;
}
.x_out{
    background: url("/map_tour/img/x_out.png") center no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    z-index: 9;
}
.ptbold{
    /*font-family: "PTSans-Narrow";*/
    font-weight: bold;
}
.f18{
    font-size: 18px;
}
.f16{
    font-size: 16px;
}